.chat-main {
    border: black;
}

.chat-header {
    margin: 0;
    padding: 10px;
    width: 100%;
}

.main-chat-username {
    color: #f9eff4;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

.message-sender, .message-receiver {
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 300px;
    word-wrap: break-word;
}

.message-window {
    box-shadow: inset 0px 0px 16px 2px rgba(0, 0, 0, 0.3);
}

.message-receiver {
    background-color: #1247c7;
    color: whitesmoke;
}

.message-sender {
    text-align: -webkit-left;
}

.message-sender-date, .message-receiver-date {
    color: lightgray;
}

.message-receiver-date {
    text-align: -webkit-right;
}

.message-sender-date {
    text-align: -webkit-left;
}

.mini-image {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}