.mini-adv, .mini-chat {
    width: 100%;
    max-width: 930px;
    max-height: 100px;
    border: #2b81af;
    border-radius: 20px 20px 20px 20px;
    padding: 7px;
    box-shadow: 0px 0px 13px 6px rgba(7, 8, 8, 0.12);
    cursor: pointer;
}

.mini-adv:hover, .mini-chat:hover {
    background-color: #F0F0F0;
    border: solid #95CDFF 1px;
}

.firstLine, .secondLine {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.name, .date, .price, .chat-username {
    color: #000008;
    font-size: 18px;
    font-weight: bolder;
}

.price, .date, .last-update {
    float: right;
}

.description, .last-update, .last-message {
    color: #000008;
    font-size: 15px;
    font-weight: bolder;
}

.mini-adv-image {
    border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;

}